/* Ensure the app-container uses flexbox layout */
.app-container {
  display: flex;
  flex-direction: row; /* Ensure sidebar and main content align horizontally */
  min-height: 100vh; /* Full height for the container */
}

/* Sidebar styling */
.sidebar {
  width: 250px; /* Fixed width for the sidebar */
  flex-shrink: 0; /* Prevent the sidebar from shrinking */
  margin: 30px;
}

/* Main content area */
.main-content {
  flex-grow: 1; /* Main content grows to take up remaining space */
  padding: 40px;
  background-color: #1e1e1e;
  color: #f0f0f0;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid #333;
  overflow: auto; /* Enable scrolling if content is too long */
  height: 100vh; /* Ensure the content adapts to the content size */
}

/* About section layout */
.about-content {
  display: flex;
  align-items: flex-start; /* Align text and image at the top */
  justify-content: space-between;
  flex-wrap: wrap; /* Wrap content to prevent overflow */
}

.about-text {
  flex: 1; /* Take remaining space on the left */
}

.about-text h2 {
  font-size: 2.5em;
  color: #fdf0d5;
  margin-bottom: 10px;
  display: inline-block; /* Ensures the border only spans the width of the text */
  border-bottom: 2px solid #780000; /* Red divider line under name */
  padding-bottom: 5px;
}

.about-text p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #cccccc;
}

/* Profile image styling */
.about-image {
  margin-left: 40px; /* Space between text and image */
}

.about-image img {
  width: 300px; /* Bigger image size */
  height: auto;
  border-radius: 10px; /* Rounded corners for the image */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

/* Social links */
.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #f0f0f0;
  margin-right: 15px;
  font-size: 1.8em;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #780000;
}

/* Section titles and shorter red dividers */
h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #fdf0d5;
  display: inline-block; /* Border only spans the width of the text */
  border-bottom: 2px solid #780000; /* Red divider under section titles */
  padding-bottom: 5px;
}

/* Education and publications sections */
.education-section,
.paper-section {
  margin-top: 40px;
}

.education-section ul,
.paper-section ul {
  list-style: none;
  padding-left: 0;
}

.education-section li,
.paper-section li {
  background-color: #282828;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.education-section .date {
  margin-right: 0px;
  font-size: 0.9em; /* Smaller size for date */
  color: #cccccc; /* Light gray color for date */
  font-style: italic; /* Italic style to differentiate the date */
}
