/* Home.css */

.app-container {
  display: flex;
  min-height: 100vh; /* Full height */
  /* background-color: #1d1d1d; Dark background for the whole container */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  /* background-color: #fdf0d5; Your chosen color for the main content */
  color: #333; /* Text color for content */
  overflow: auto; /* In case the content is longer than the screen */
}

.about-section {
  /* Styles for the about section */
  background-color: #fdf0d5;
}
